/** dark background **/
html, body, .ui-tabs .ui-widget-content, .ui-tabs-nav, .ui-tabs-nav > .ui-state-active a {
  background-color: #F5F5F5 !important;
}
* {
	background-color: transparent;
}
input {
	/*background-color: #FFFFFF;*/
}
textarea {
	border-color: #DDD;
}
/*********************/
/** jqueryUI-jMetro fixes **/
.ui-spinner.ui-corner-all {
	border: 0 !important;
}
.ui-spinner-button {
	height: 18px;
	width: 32px;
	position: relative;
	top: 7px;
}
.ui-spinner-button .ui-icon {
	position: relative;
	top: -4px;
	left: -5px;
}
.ui-slider-horizontal {
	border-top: 2px solid !important;
}
a.ui-button-icon-only {
	position: relative;
	top: 2px;
}
.ui-tooltip {
	display: inline-block !important;
	padding: 2px 5px;
}
.ui-accordion h3 {
	padding-left: 30px;
}
.ui-button-icon-only .ui-icon {
	margin-left: -8px !important;
}
.ui-dialog-titlebar-close > .ui-icon {
	margin: 0 !important;
	position: relative !important;
	top: 2px !important;
	left: 2px !important;
}
/****************************/

body {
  	font-family: verdana,helvetica,arial,sans-seriff;
	font-size: 12px;
}

#tabs { margin-top: 1em; }
#tabs li .bt-tab-close { 
	float: left; 
	margin: 0.4em 0.2em 0 0; 
	cursor: pointer; 
	border: none; 
	background: #D4D4D4 !important; 
	position: relative;
	top: -3px;
	left: 1px;
}
#tabs li .bt-tab-close:hover {
	background: #66B3FF !important;
}
#tabs li .bt-tab-close span {
	background-image: url(../lib/jquery-ui-jMetro/css/images/ui-icons_525252_0.png);
	background-position: -80px -128px;
	width: 16px;
	height: 16px;
	display: block;
	text-indent: -9999999;
	overflow: hidden;
	background-repeat: no-repeat;
}
#tabs li .bt-tab-close span:hover {
	background-image: url(../lib/jquery-ui-jMetro/css/images/ui-icons_ffffff_0.png) !important;
}
#tabs .tab-container { height: calc(100% - 70px); }

.ajax-loader {
	display: none;
}

#dlg-scatter-plot-legend-container div {
	.width: 100%;
	height: 20px;
	border-radius: 2px;
	cursor: pointer;
	margin-bottom: 5px;
}

.ui-tooltip, .ui-dialog {
	z-index: 9999999999;
}

.dot {
	background: #000000;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}