<div>
	<link rel="stylesheet" href="/tpl/params/floatslider.tpl.css">

	<div>
		<div style="float: left;">
			<div class="uiparam-param-floatslider"></div>
		</div>
		<div style="float: left; margin-left: 10px; margin-top: 2px;">
			<span class="uiparam-param-floatslider-preview"></span>
		</div>
		<div style="clear: both;"></div>
	</div>
</div>