<div>
	<link rel="stylesheet" href="/tpl/params/geoboundingbox.tpl.css">

	<input class="map-pac-input" class="controls" type="text" placeholder="Search Box" style="background-color: #FFFFFF;" />
	<div class="map" style="width: 100%; height: 150px;"></div>
	<a class="map-reset-bbox" href="">recenter bounding box</a>
</div>