<div>
	<link rel="stylesheet" href="/tpl/params/stringlist.tpl.css">

  <input class="param-stringlist-input" type="text" style="position: relative; left: -2px;" /> <input class="param-stringlist-input-bt" type="button" value="add" />
  <div class="param-stringlist"></div>
</div>