<div>
  <link rel="stylesheet" href="/tpl/event_info/contentPreview.tpl.css">

  <div>
  	  <div>
  		Count: {{count}}
 	  </div>
	  <div style="max-height: 150px; overflow-y: auto; border: 1px solid gray; border-radius: 2px;">
	    {{#content}}
	    	<div style="border: 1px solid lightgray; border-radius: 2px; padding: 4px 0px;">
	    		<a href="{{url}}" target="_blank">{{title}}</a>
	    	</div>
	    {{/content}}
	  </div>
	</div>
 </div>