<div>
	<link rel="stylesheet" href="/tpl/tab.main.param.param.tpl.css">

	<div class="uiparam-param">
		<div class="uiparam-param-label">
			{{label}}:
		</div>
		<div class="uiparam-param-container"></div>
	</div>
</div>