.uiparam {
	margin: 10px;
}
.uiparam .uiparam-params {
	padding: 0 20px;
}
.uiparam .ui-widget-header {
	position: relative;
}
.uiparam .uiparam-bt-close {
	position: absolute;
	top: 1px;
	right: 2px;
}