.box {
  /*border: 1px solid gray;
  border-radius: 5px;*/
  border: 2px solid #D4D4D4;
  height: 100%;
}
.box-content {
  height: calc(100% - 33px);
  overflow-y: auto;
  padding: 0 20px;
  margin-top: 10px;
}
.box h3 {
  margin: 3px 0 0 10px;
}


.container {
  padding-left: 200px;   /* LC width */
  padding-right: 800px;  /* RC width */
}
.container .column {
  position: relative;
  float: left;
  height: 100%;
}
.container .center {
  width: 100%;
}
.container .left {
  width: 200px;          /* LC width */
  right: 200px;          /* LC width */
  margin-left: -100%;
}
.container .right {
  width: 800px;          /* RC width */
  margin-right: -800px;  /* RC width */
}
/*** IE6 Fix ***/
* html .container .left {
  left: 800px;           /* RC width */
}

/* view-main */
.view-main {
  background-color: #FFF;
}
.view-main .uiparam-groups {
  height: calc(100% - 100px);
}

/* view-result */
.view-result-subview h4:first-child {
  margin: 3px 0px;
}
.view-result-subview-content {
  height: 100%;
  overflow-y: auto;
  padding-left: 5px;
}

/* splitter */
.splitter-bar {
  position: relative;
  top: -2px;
  border: 1px dotted #D4D4D4 !important;
  background: none !important;
}
.splitter-bar.ui-state-hover {
  border: 1px dotted #66B3FF !important;
}
.splitter .box {
  height: calc(100% - 5px);
}