<div style="height: 100%;">
  <link rel="stylesheet" href="/tpl/tab.tpl.css">


  <div>
    <div class="Splitter1 splitter" style="height: 100%; width: 100%; border: none;">
      <div class="SplitterLeft" style="width: 210px; min-width: 210px; overflow: auto;">
        <div class="view-toolbox box" style="margin-right: 10px;">
          <h3>Toolbox</h3>
          <div class="box-content uiparam-options-groups">
          </div>
        </div>
      </div>      
      <div class="Splitter2 splitter" style="border: none;">
        <div class="SplitterMiddle" style="overflow: auto; width: 60%;">
          <div class="box view-main" style="margin: 0 10px; ">
            <h3>Workbench</h3>
            <div class="box-content" style="height: calc(100% - 90px);">
              <div class="uiparam-groups" style="padding: 0 40px 10px 40px;"></div>
            </div>
            <div style="text-align: center; margin-top: 15px;">
              <button class="bt-run" style="vertical-align: middle;">run</button>
              <img class="bt-run-load ajax-loader" src="/img/ajax-load.gif" style="position: relative; top: -1px; vertical-align: middle;" />
              <div style="font-size: 0.9em; display: inline-block; vertical-align: middle; position: relative; top: -1px;">
                <div><input type="checkbox" id="cb-run-enable-scatter" style="vertical-align: middle;" checked="checked" /><label for="cb-run-enable-scatter">enable scatter plot (slow)</label></div>
                <div style="margin-left: 12px;"><input type="checkbox" id="cb-run-enable-tsne" style="vertical-align: middle;" /><label for="cb-run-enable-tsne">enable tsne plot (very slow)</label></div>
              </div>
            </div>
          </div>
        </div>
        <div class="SplitterRight" style="width: 800px; overflow: auto;">
          <div class="box view-result" style="margin: 0 10px;">
            <h3>Result</h3>
            <div class="box-content">
              <div class="view-result-output view-result-subview" style="height: 45%;">
                <h4>Output</h4>
                <div class="view-result-subview-content">
                  <textarea class="output" style="height: 90%; width: calc(100% - 6px); overflow: scroll;" disabled="disabled"></textarea>
                </div>
              </div>
              <div class="view-result-events view-result-subview" style="height: 45%; margin-top: 15px;">
                <h4>
                  Detected Events
                  <button class="bt-plot" title="view scatter plot (ATTENTION: may take a while)"></button>
                  <a href="" target="_blank" class="bt-csv" title="download as .csv" download="{{tabTitle}}.csv"></a>
                </h4>
                <div class="view-result-subview-content">
                  <div class="view-result-events-container" style="height: calc(100% - 20px); border: 1px solid lightgray; padding: 7px; overflow-y: auto;">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--
  <div class="container column" style="height: 100%;">
    <div class="left column">
      <div class="box view-toolbox">
        <h3>Toolbox</h3>
        <div class="box-content uiparam-options-groups">
        </div>
      </div>
    </div>
    <div class="center column">
      <div style="margin: 0 20px;" class="box view-main">
        <h3>Workbench</h3>
        <div class="box-content" style="height: calc(100% - 90px);">
          <div class="uiparam-groups" style="padding: 0 40px 10px 40px;"></div>
        </div>
        <div style="text-align: center; margin-top: 15px;">
          <button class="bt-run">run</button> <img class="bt-run-load ajax-loader" src="/img/ajax-load.gif" style="position: relative; top: 3px;" />
        </div>
      </div>
    </div>
    <div class="right column">
      <div class="box view-result">
        <h3>Result</h3>
        <div class="box-content">
          <div class="view-result-output view-result-subview" style="height: 45%;">
            <h4>Output</h4>
            <div class="view-result-subview-content">
              <textarea class="output" style="height: 90%; width: 99%; overflow: scroll;" disabled="disabled"></textarea>
            </div>
          </div>
          <div class="view-result-events view-result-subview" style="height: 45%; margin-top: 15px;">
            <h4>
              Detected Events
              <button class="bt-plot" title="view scatter plot (ATTENTION: may take a while)"></button>
              <a href="" target="_blank" class="bt-csv" title="download as .csv" download="{{tabTitle}}.csv"></a>
            </h4>
            <div class="view-result-subview-content">
              <div class="view-result-events-container" style="height: calc(100% - 20px); border: 1px solid lightgray; padding: 7px; overflow-y: auto;">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="clear: both;"></div>
-->
</div>