<div>
  <link rel="stylesheet" href="/tpl/tab.result.dialog.legendentry.tpl.css">

  <div style="margin-bottom: 5px;">
  	<div style="float: left; width: 30px;">
  		<div class="dot" style="width: 10px; height: 10px; background: {{color}}; position: relative; top: 5px;"></div>
  	</div>
  	<div style="float: left;">
  		<div style="font-weight: bold; margin-bottom: 5px;">{{label}}</div>
  		<div class="event" style="width: 500px;"></div>
  	</div>
  	<div style="clear: both;"></div>
  </div>
</div>