<div>
	<link rel="stylesheet" href="/tpl/tab.main.group.tpl.css">

	<div>
		<div class="uiparam-group">
			<div style="margin-bottom: 20px;">
              <div class="ui-widget-header ui-state-active" style="cursor: pointer;">
                <div>
					<h4 style="{{label-css}}">{{label}}</h4>
                </div>
              </div>
              <div class="ui-widget-content" style="padding: 5px; word-wrap: break-word; display: none;">
              	<div class="uiparam-group-content">
					<div class="uiparam-group-params"></div>
				</div>
              </div>
            </div>
		</div>
	</div>
</div>