<div>
	<link rel="stylesheet" href="/tpl/tab.result.event.info.tpl.css">
  
  <div class="view-result-event-info">
    <div style="font-weight: bold;">{{label}}:</div>
    <div class="view-result-event-info-value" style="padding-left: 10px; margin-bottom: 7px;"></div>
  </div>
</div>