<div>
	<link rel="stylesheet" href="/tpl/tab.result.event.tpl.css">
    
    <div class="event" style="margin-bottom: 20px;">
      <div class="event-header ui-widget-header" style="cursor: pointer;">
        <div>
          {{name}}
        </div>
        <div style="padding-left: 10px; font-size: 0.9em; font-weight: normal;">
          {{dt_start}} - {{dt_end}}
        </div>
      </div>
      <div class="event-body ui-widget-content" style="padding: 5px; word-wrap: break-word; display: none;">
        <div class="event-map" style="height: 150px; margin-bottom: 10px;"></div>
        <div class="event-info"></div>
      </div>
    </div>
</div>