<div>
	<link rel="stylesheet" href="/tpl/tab.toolbox.group.tpl.css">

	<div class="uiparam-options-group">
		<h4>{{label}}</h4>
		<div class="uiparam-options-group-group">
			{{#options}}
				<div data-uiparam-group="{{name}}" data-uiparam-option="{{optionName}}" class="uiparam-option ui-widget-header" style="/* hackfix: draggable helper looses style when being cloned: */ min-width: 140px; font-size: 13px; font-weight: bold; cursor: pointer; /*border-radius: 5px;*/ padding: 1px 5px;">{{optionLabel}}</div>
			{{/options}}
		</div>
	</div>
</div>