.uiparam-group {
	min-width: 400px;
}

.uiparam-group-content {
	border: 1px solid #D4D4D4; 
	/*border-radius: 2px;*/
	min-height: 50px;
	padding: 5px;
	margin-top: 20px;
	margin-top: 0px;
	margin-bottom: 5px;
}

.uiparam-group .ui-widget-header h4 {
	margin: 5px;
}

.ui-droppable {
	background-color: #AFD6FC; 
	background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
	background-size: 50px 50px;
	box-shadow: 1px 1px 8px #808080;
}
.ui-droppable.active {
  background-color: #66B3FF !important;
}
