<div>
	<link rel="stylesheet" href="/tpl/tab.main.param.tpl.css">

	<div class="uiparam">
		<div class="ui-widget-header">
			{{label}}

			<button class="uiparam-bt-close"></button>
		</div>
		<div class="uiparam-params ui-widget-content"></div>
	</div>
</div>