.uiparam-options-group {
	margin-bottom: 15px;
}
.uiparam-options-group h4 {
	margin-bottom: 5px;
	margin-top: 0;
}
.uiparam-options-group .uiparam-options-group-group {
	padding-left: 5px;
}
.uiparam-options-group .uiparam-options-group-group .uiparam-option {
	/* NEEDS TO BE INLINED (because of a jQuery UI Bug): see tab.toolbox.group.tpl.html */
}
.uiparam-option {
	margin-bottom: 5px;
}