<div>
  <link rel="stylesheet" href="/tpl/tab.result.dialog.tpl.css">

	<div class="dialog" style="z-Index: 99999; display: none;">
		<div>
			<div style="float: left; height: 540px;">
				<div class="SCATTER_PLOT" style="width: 500px; height: 500px;"></div>
				<div class="TSNE_IMG" style="display: none;">
					<img class="tsne" style="width: 500px;" />
				</div>
				<select class="img-select">
					<option value="scatter">3d Scatter Plot</option>
					<option value="tsne">2d Plot (TSNE)</option>
				</select>
			</div>
			<div style="float:left; padding: 20px; height: 100%; overflow-y: auto; width: 560px;">
				<h4>Legend</h4>
				<div style="margin-left: 10px;">
					<div>
						Total amount of data: {{data_count}}
					</div>
					<div>
						Event clusters found: {{num_clusters}}
					</div>
					<div class="legend-container" style="margin-top: 10px; height: 350px; overflow-y: auto;"></div>
				</div>
			</div>
			<div style="clear:both;"></div>
		</div>
	</div>
</div>